@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Epilogue', sans-serif;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
}

header {
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  padding: 0px 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: .9375rem;
    padding: 1.25rem;
    color: #000;
    display: block;
}

header .navbar ul li a:hover {
    cursor: pointer;
    background-color: lightgray;
    color: #000;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 6.25rem;
    display: none;
    background-color: #fff;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: .0625rem solid #fff;
}

header .navbar ul li ul li ul {
    left: 12.5rem;
    top: 0;
}

header .navbar ul li:hover > ul,
header .navbar ul li:focus-within > ul {
    display: inline;    
}

#menu-bar {
    display: none;  
}

header label {
    display: none;
}

.learn {
    font-size: .9375rem;
    width: 5rem;
    text-decoration: none;
    background-color: #000;
    border: none;
    cursor: pointer;
}

.reg {
    font-size: .9375rem;
    width: 5rem;
    text-decoration: none;
    background-color: #fff;
    border: .0313rem solid #000;
    border-radius: .3125rem;
    cursor: pointer;
    height: 4.5vh;
}
