@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --primary-color: hsl(0, 0%, 100%);
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1.125rem;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.3;
    color: var(--medium-gray);
    background-color: var(--almost-white);
    overflow-x: hidden;
}

h1 {
    font-size: 6.4rem;
    color: var(--almost-black);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 2.6rem;
}

ul {
    list-style: none;
}

.grid {
    display: grid;
}

.grid-2cols {
    grid-template-columns: repeat(2, 1fr);
}



